.env
.env.backup
.nyc_output
.php_cs.cache
.phpstorm.meta.php
/.idea
/.phpunit.result.cache
/.vagrant
/.vscode
/public/hot
/public/storage
/storage/*.key
/vendor
_ide_helper.php
coverage
Homestead.yaml
node_modules
npm-debug.log
public/build
public/css
public/img
public/js
public/mix-manifest.json
public/report
resources/views/index.blade.php
yarn-error.log
