
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/*
 * $MallardBlue: #375f6e
 * $BlueMist: #58a8c5
 * $AstralSpirit: #8fc4e1
 * $Maritime: #c2d1ec
 * $LingeringLilac: #e3daf3
 * $SnowShadow: #d6d8e9
 */
